<div class='tab' data-tab='hotspots'>
  <p class='notes'>
    Drag and drop macros from the directory, hotbar, or a
    compendium into the boxes below.
  </p>
  <p class='notes'>
    By default, the macros will fire even when the drawing is hidden to players.
  </p>
  <hr>
  <h3 class='form-header'>
    <i class="fas fa-mouse-pointer"/></i>
    Click
  </h3>
  <p class='notes'>This macro will fire when a player clicks within the bounds of the drawing.</p>
  <div class='form-group'>
    <input type='checkbox' name='flags.hotspots.click.disableHidden' data-dtype='Boolean' value='{{ click.disableHidden }}'>
    <label for='flags.hotspots.click.disableHidden'>Disable when hidden</label>
    <input type='hidden' data-field='macro' name='flags.hotspots.click.macro' data-dtype='String' value='{{ click.macro }}'>
    <input type='hidden' data-field='pack' name='flags.hotspots.click.pack' data-dtype='String' value='{{ click.pack }}'>
    <div class='hotspots-macro-target'>
      <i class='hotspots-delete-macro fas fa-times {{#if click.macro }}enabled{{/if}}'></i>
      <img src='{{#if click.img }}{{ click.img }}{{else}}data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs={{/if}}'>
    </div>
  </div>
  <hr>
  <h3 class='form-header'>
    <i class="fas fa-sign-in-alt"/></i>
    Enter
  </h3>
  <p class='notes'>Select a macro to fire when a player's token enters the bounds of the drawing.</p>
  <div class='form-group'>
    <input type='checkbox' name='flags.hotspots.enter.disableHidden' data-dtype='Boolean' value='{{ enter.disableHidden }}'>
    <label for='flags.hotspots.enter.disableHidden'>Disable when hidden</label>
    <input type='hidden' data-field='macro' name='flags.hotspots.enter.macro' data-dtype='String' value='{{ enter.macro }}'>
    <input type='hidden' data-field='pack' name='flags.hotspots.enter.pack' data-dtype='String' value='{{ enter.pack }}'>
    <div class='hotspots-macro-target'>
      <img src='{{#if enter.img }}{{ enter.img }}{{else}}data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs={{/if}}'>
    </div>
  </div>
  <hr>
  <h3 class='form-header'>
    <i class="fas fa-sign-out-alt"/></i>
    Exit
  </h3>
  <p class='notes'>Select a macro to fire when a player's token leaves the bounds of the drawing.</p>
  <div class='form-group'>
    <input type='checkbox' name='flags.hotspots.exit.disableHidden' data-dtype='Boolean' value='{{ exit.disableHidden }}'>
    <label for='flags.hotspots.exit.disableHidden'>Disable when hidden</label>
    <input type='hidden' data-field='macro' name='flags.hotspots.exit.macro' data-dtype='String' value='{{ exit.macro }}'>
    <input type='hidden' data-field='pack' name='flags.hotspots.exit.pack' data-dtype='String' value='{{ exit.pack }}'>
    <div class='hotspots-macro-target'>
      <img src='{{#if exit.img }}{{ exit.img }}{{else}}data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs={{/if}}'>
    </div>
  </div>
  <hr>
</div>
