<div class="tab" data-tab="hotspots">
  <p class="notes">
    {{localize "Hotspots.DragNDropNotes"}}
  </p>
  <p class="notes">
    {{localize "Hotspots.HiddenNotes"}}
  </p>
  <hr />
  {{#each hotspots}}
    <h3 class="form-header">
      <i class="fas {{this.categoryIcon}}"></i>
      {{this.title}}
    </h3>
    <p class="notes">
      {{this.description}}
    </p>
    <div class="form-group hotspots">
      <div class="hotspots-target">
        <input
          type="hidden"
          name="flags.hotspots.{{@key}}.uuid"
          data-dtype="String"
          value="{{this.uuid}}"
        />
        <i
          class="hotspots-delete fas fa-times {{condStr this.uuid "enabled"}}"
        ></i>
        <i class="hotspots-icon fas {{this.icon}}"></i>
        <img src="{{this.img}}" />
      </div>
      <div class="hotspots-fields {{condStr this.uuid "enabled"}}">
        <div>
          <span class="hotspots-name">
            {{this.name}}
          </span>
          {{" "}}
          <span class="hotspots-type">
            ({{this.type}})
          </span>
          <hr />
        </div>
        <div class="hotspots-field">
          <input
            type="checkbox"
            id="hotspots.{{@key}}.disableHidden"
            name="flags.hotspots.{{@key}}.disableHidden"
            data-dtype="Boolean"
            {{checked this.disableHidden}}
          />
          <label for="hotspots.{{@key}}.disableHidden">
            {{localize "Hotspots.DisableHiddenCTA"}}
          </label>
        </div>
      </div>
    </div>
    <hr />
  {{/each}}
</div>